<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DiscUtils.Streams" publicKeyToken="5fa5b410cc9c6289" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.16.0.0" newVersion="0.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DiscUtils.Core" publicKeyToken="5fa5b410cc9c6289" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.16.0.0" newVersion="0.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DiscUtils.Udf" publicKeyToken="5fa5b410cc9c6289" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.16.0.0" newVersion="0.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DiscUtils.Iso9660" publicKeyToken="5fa5b410cc9c6289" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.16.0.0" newVersion="0.16.0.0" />
      </dependentAssembly>
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
</configuration>